<title>THP Admin Page</title>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="#">The Hacking Project</a>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	  		<li class="nav-item">
	    		<a class="nav-link" href="/landing1">Landing Page 1</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link" href="/landing2">Landing Page 2</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link" href="/landing3">Landing Page 3</a>
	  		</li>
		</ul>
	</div>
</nav>



<body>
	<div class="container">
		<h2 class="titre2">Application de Growth Hacking</h2>

		<h2 class="titre2">1. Acquisition de la base de données marketing</h2>

		<div class="row">
		  <div class="col-md-4">Scraping Twitter 1</div>
			  <div class="col-md-8">
			    <input type="button" name="Lancer9" id="Lancer9" value="Lancer">
			  </div>
		</div>

		<div class="row">
		  <div class="col-sm-4">Scraping Twitter 2</div>
			  <div class="col-sm-8">
			    <input type="button" name="Lancer10" id="Lancer10" value="Lancer">
			  </div>
		</div>

		<div class="row">
		  <div class="col-sm-4">Scraping Meetup</div>
			  <div class="col-sm-8">
			    <input type="button" name="Lancer10" id="Lancer10" value="Lancer">
			  </div>
		</div>

		<h2 class="titre2">2. Transformation des prospects </h2>

		<div class="row">
		  <div class="col-sm-4">Répondre à 40 tweets sur le hashtag "Code dev" sur Twitter</div>
			  <div class="col-sm-8">
			    <input type="button" name="Lancer2" id="Lancer2" value="Lancer">
			  </div>
		</div>

		<div class="row">
		  <div class="col-sm-4">Action de communication Twitter 2</div>
			  <div class="col-sm-8">
			    <input type="button" name="Lancer10" id="Lancer10" value="Lancer">
			  </div>
		</div>

		<div class="row">
		  <div class="col-sm-4">Gestion et envoi de newsletter (Mailchimp)<br>
		    <b>id : emiliehackard</b><br>
		    <b>mdp : Italodisco123!</b>
		  </div>
		  <div class="col-sm-8">
		    <a target="_blank" href="https://mailchimp.com/en/">Voir</a>
		  </div>
		</div>


		<div class="row">
		  <div class="col-sm-4">Progammation de l'envoi des compagnes (Heroku Scheduler)</div>
		  <div class="col-sm-8">
		    <input type="button" name="Lancer10" id="Lancer10" value="Lancer">
		      </div>
		</div>

		<h2 class="titre2">3. Suivi des conversions</h2>

		<div class="row">
		  <div class="col-sm-4">Suivi des metrics (Google analytics)</div>
			  <div class="col-sm-8">
			    <a target="_blank" href="https://analytics.google.com/analytics/web/provision/?authuser=0#/report-home/a129282202w188492211p185067648/%3F_.useg=builtin2,builtin1,builtin3">Voir</a>
			  </div>
		</div>
	</div>

	<br><br><br>
</body>

