.footer-titre {
	font-weight: bold;
	font-size: 24px;
}

.footer-text {
	text-decoration: none;
	color: black;
}

footer ul {
	list-style: none;
}

.footer-text:hover {
	text-decoration: none;
	color: #c32361;
}
